<div class="row justify-content-center align-items-center g-3">
    <div class="col-auto">
        <a mat-raised-button
            color="primary"
            routerLink="rewards"
            class="px-3 py-1">
            <label class="mat-button">Rewards</label>
        </a>
    </div>
    <div class="col-auto">
        <a mat-raised-button
            color="primary"
            routerLink="time-sheet"
            class="px-3 py-1">
            <label class="mat-button">Time Sheet</label>
        </a>
    </div>

    <div class="col-auto">
        <a mat-raised-button
            color="primary"
            routerLink="account-overview"
            class="px-3 py-1">
            <label class="mat-button">Account</label>
        </a>
    </div>
</div>